<%- include('../admin_components/header') %>
<body>
  <%- include('../admin_components/navbar') %> 
  <div class="container">
    <h2>Produtos</h2>
    <a class="btn btn-success" href="/admin/products/new">Adicionar mais Produtos</a>
    <hr>
    <table class="table table-bordered">
      <thead>
          <th>ID</th>
          <th>Nome Produto</th>
          <th>Preço</th>
          <th>Estoque Total</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <% products.forEach(product => { %>
          <% const inventoryTotal = product.inventoryP + product.inventoryM + product.inventoryG + product.inventoryEG%>
          <% const priceReplaced =  product.price.toString(10).replace('.',',')%> 
          
          <tr>
            <td><%=product.id%></td>
            <td><%=product.title%></td>
            <td>R$ <%=priceReplaced%></td>
            <td><%=inventoryTotal%></td>
            <td>
              <form action="" method="get" style="display: inline;">
                <button class="btn btn-sm btn-primary">Ver Produto</button>
              </form>
              <form action="" method="get" style="display: inline;">
                <button class="btn btn-sm btn-warning">Editar</button>
              </form>
              <form action="" method="get" style="display: inline;">
                <button class="btn btn-sm btn-danger">Apagar</button>
              </form>
            </td>
          </tr>

        <% }) %> 
      </tbody>
    </table>
  </div>
</body>
  <%- include('../admin_components/footer') %>